
sudo: false
language: scala
scala:
- 2.11.8
jdk:
- oraclejdk8
cache:
  directories:
    - '$HOME/.ivy2/cache'
branches:
  except:
    - master
script:
  - 'sbt test it:test -Dplay.crypto.secret=$testsecret'
