#%RAML 1.0
---

title: Apprenticeship Levy
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include http://api-documentation-raml-frontend.service/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include http://api-documentation-raml-frontend.service/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/securitySchemes.raml
  headers: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/headers.raml
  annotations: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/annotations.raml
  types: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/types.raml

traits:
  successResponse:
    responses:
      200:
        body:
          application/json:
            type: <<responseSchema>>
            examples:
              example-1:
                value: <<successExample>>
      401:
        body:
          application/json:
            type: <<responseSchema>>
            examples:
              example-1:
                value: <<successExample>>

annotationTypes:
  config: object
  group:
    type: object
    properties:
      name: string
      description: string
  scope:

/apprenticeship-levy:
  get:
      displayName: Get all employers
      description: Returns a list of valid links indexed by empref in HAL format
      is: [headers.acceptHeader]
      (scope): "read:apprenticeship-levy"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
      headers: 
        Authorization:
          example: Bearer [token here]
      responses: 
        200:
          body:
            application/json:
              type: !include schemas/get-all-employers.json
              example: !include examples/get-all-employers.json
        401:
          body:
            application/json:
              type: types.errorResponse
              examples:
                401_AUTH_ERROR:
                        description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                        value:
                                code: AUTH_ERROR
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                403_AUTH_ERROR:
                        description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                        value:
                                code: AUTH_ERROR
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                404_AUTH_ERROR:
                        description: Endpoint or internal system has become unavailable.
                        value:
                                code: AUTH_ERROR
        408:
          body:
            application/json:
              type: types.errorResponse
              examples:
                408_AUTH_ERROR:
                        description: Endpoint or internal system has become unresponsive.
                        value:
                                code: AUTH_ERROR
        503:
          body:
            application/json:
              type: types.errorResponse
              examples:
                503_AUTH_ERROR:
                        description: Endpoint or internal system has experienced an internal error.
                        value:
                                code: AUTH_ERROR
  /epaye:
    /{empref}:
      uriParameters:
        empref:
          description: A valid (URL encoded) employer reference for the PAYE scheme.
          type: string
          example: 123/AB12345
      get:
          displayName: Get employer details
          description: Returns more details about an empref including details about the employer and a list of available endpoints that apply to the empref.
          is: [headers.acceptHeader]
          (scope): "read:apprenticeship-levy"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
          headers: 
            Authorization:
              example: Bearer [token here]
          responses: 
            200:
              body:
                application/json:
                  type: !include schemas/get-employer-details.json
                  example: !include examples/get-employer-details.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    400_EPAYE_EMPREF_INVALID:
                              description: A request parameter is incorrect.
                              value:
                                        code: EPAYE_EMPREF_INVALID
            401:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    401_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            403:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    403_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            404:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    404_EPAYE_EMPREF_UNKNOWN:
                              description: Employer reference is unknown or endpoint not found.
                              value:
                                        code: EPAYE_EMPREF_UNKNOWN
            408:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    408_AUTH_ERROR:
                              description: Endpoint or internal system has become unresponsive.
                              value:
                                        code: AUTH_ERROR
            429:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    429_AUTH_ERROR:
                              description: Too many requests have been made to this endpoint
                              value:
                                        code: AUTH_ERROR
            503:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    503_AUTH_ERROR:
                              description: Endpoint or internal system has experienced an internal error.
                              value:
                                        code: AUTH_ERROR
      /declarations:
        get:
          displayName: Get employer levy declarations
          description: Returns a list of levy declarations for a given employer reference.
          is: [headers.acceptHeader]
          (scope): "read:apprenticeship-levy"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
          headers: 
            Authorization:
              example: Bearer [token here]
          responses: 
            200:
              body:
                application/json:
                  type: !include schemas/get-employer-levy-declarations.json
                  example: !include examples/get-employer-levy-declarations.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    400_EPAYE_EMPREF_INVALID:
                              description: A request parameter is incorrect.
                              value:
                                        code: EPAYE_EMPREF_INVALID
            401:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    401_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            403:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    403_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            404:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    404_EPAYE_EMPREF_UNKNOWN:
                              description: Employer reference is unknown or endpoint not found.
                              value:
                                        code: EPAYE_EMPREF_UNKNOWN
            408:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    408_AUTH_ERROR:
                              description: Endpoint or internal system has become unresponsive.
                              value:
                                        code: AUTH_ERROR
            429:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    429_AUTH_ERROR:
                              description: Too many requests have been made to this endpoint
                              value:
                                        code: AUTH_ERROR
            503:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    503_AUTH_ERROR:
                              description: Endpoint or internal system has experienced an internal error.
                              value:
                                        code: AUTH_ERROR
          queryParameters: 
            fromDate: 
              description: The date of the earliest record to return. Records that would fall into a tax year older than the current year - 6 will not be returned.
              type: date-only
              example: 2015-08-09
              required: false
            toDate: 
              description: The date of the latest record to return.
              type: date-only
              example: 2015-08-09
              required: false
      /fractions:
        get:
          displayName: Get employer fraction calculations
          description: Returns a list of fraction calculations for a given employer reference.
          is: [headers.acceptHeader]
          (scope): "read:apprenticeship-levy"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
          headers: 
            Authorization:
              example: Bearer [token here]
          responses: 
            200:
              body:
                application/json:
                  type: !include schemas/get-employer-fraction-calculations.json
                  example: !include examples/get-employer-fraction-calculations.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    400_EPAYE_EMPREF_INVALID:
                              description: A request parameter is incorrect or unknown, or from date is after to date.
                              value:
                                        code: EPAYE_EMPREF_INVALID
            401:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    401_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            403:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    403_AUTH_ERROR:
                              description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                              value:
                                        code: AUTH_ERROR
            404:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    404_EPAYE_EMPREF_UNKNOWN:
                              description: Endpoint or internal system has become unavailable.
                              value:
                                        code: EPAYE_EMPREF_UNKNOWN
            408:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    408_AUTH_ERROR:
                              description: Endpoint or internal system has become unresponsive.
                              value:
                                        code: AUTH_ERROR
            429:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    429_AUTH_ERROR:
                              description: Too many requests have been made to this endpoint
                              value:
                                        code: AUTH_ERROR
            503:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    503_AUTH_ERROR:
                              description: Endpoint or internal system has experienced an internal error.
                              value:
                                        code: AUTH_ERROR
          queryParameters: 
            fromDate: 
              description: The date of the earliest calculation to return.
              type: date-only
              example: 2015-08-09
              required: false
            toDate: 
              description: The date of the latest calculation to return.
              type: date-only
              example: 2015-08-09
              required: false
      /employed:
        /{nino}:
          uriParameters:
            nino:
              description: A valid National Insurance Number (nino) for the individual being checked.
              type: string
              example: XY654321Z
          get:
            displayName: Get employment status
            description: Checks the employment status of an individual in a payroll scheme.
            is: [headers.acceptHeader]
            (scope): "read:apprenticeship-levy"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
            headers: 
              Authorization:
                example: Bearer [token here]
            responses: 
              200:
                body:
                  application/json:
                    type: !include schemas/get-employment-status.json
                    example: !include examples/get-employment-status.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      400_EPAYE_EMPREF_INVALID:
                                 description: A request parameter is incorrect or unknown, or from date is after to date.
                                 value:
                                            code: EPAYE_EMPREF_INVALID
              401:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      401_AUTH_ERROR:
                                 description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                                 value:
                                            code: AUTH_ERROR
              403:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      403_AUTH_ERROR:
                                 description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                                 value:
                                            code: AUTH_ERROR
              404:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      404_EPAYE_EMPREF_UNKNOWN:
                                 description: Endpoint or internal system has become unavailable.
                                 value:
                                            code: EPAYE_EMPREF_UNKNOWN
              408:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      408_AUTH_ERROR:
                                 description: Endpoint or internal system has become unresponsive.
                                 value:
                                            code: AUTH_ERROR
              429:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      429_AUTH_ERROR:
                                 description: Too many requests have been made to this endpoint
                                 value:
                                            code: AUTH_ERROR
              503:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      503_AUTH_ERROR:
                                 description: Endpoint or internal system has experienced an internal error.
                                 value:
                                            code: AUTH_ERROR
            queryParameters: 
              fromDate: 
                description: Starting date of the period to check employment for.
                type: date-only
                example: 2016-01-31
                required: true
              toDate: 
                description: Ending date of the period to check employment for.
                type: date-only
                example: 2016-01-31
                required: true
  /fraction-calculation-date:
    get:
      displayName: Get latest fraction calculation date
      description: Returns the date of the most recent fraction calculation batch run.
      is: [headers.acceptHeader]
      (scope): "read:apprenticeship-levy"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:apprenticeship-levy" ] } ]
      headers: 
        Authorization:
          example: Bearer [token here]
      responses: 
        200:
          body:
            application/json:
              type: !include schemas/get-latest-fraction-calculation-date.json
              example: !include examples/get-latest-fraction-calculation-date.json
        401:
          body:
            application/json:
              type: types.errorResponse
              examples:
                401_AUTH_ERROR:
                        description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                        value:
                                code: AUTH_ERROR
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                403_AUTH_ERROR:
                        description: The request requires user authentication. Please ensure Grant authority has been given and bearer token is supplied with the request headers.
                        value:
                                code: AUTH_ERROR
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                404_AUTH_ERROR:
                        description: Endpoint or internal system has become unavailable.
                        value:
                                code: AUTH_ERROR
        408:
          body:
            application/json:
              type: types.errorResponse
              examples:
                408_AUTH_ERROR:
                        description: Endpoint or internal system has become unresponsive.
                        value:
                                code: AUTH_ERROR
        429:
          body:
            application/json:
              type: types.errorResponse
              examples:
                429_AUTH_ERROR:
                        description: Too many requests have been made to the back-end systems.
                        value:
                                code: AUTH_ERROR
        503:
          body:
            application/json:
              type: types.errorResponse
              examples:
                503_AUTH_ERROR:
                        description: Endpoint or internal system has experienced an internal error.
                        value:
                                code: AUTH_ERROR
